name: Code checks

on:
  push:
    branches: [main, experimental]
  pull_request:

jobs:
  checks:
    permissions:
      contents: write
      pull-requests: write
    name: ${{ matrix.script }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        script: ["prettier:check", "lint:check", "ts:check", "test"]
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies
        with:
          node-version: 24

      - name: ${{ matrix.script }}
        run: pnpm run ${{ matrix.script }}
